
@*<div class="card mt-3">
    <div class="card-header">
        <h5>Search</h5>
    </div>
    <div class="card-body">
        <form action="/search" >
            <div class="form-group">
                <input name="searchFilter" type="text" class="form-control mr-2" placeholder="Search" value="" />
            </div>
            <button type="submit" class=" btn btn-outline-primary btn-sm mt-3 btn-block">Search</button>
        </form>
    </div>
</div>*@


<div class="m-auto mt-3">
    <form class="d-flex" role="search" action="/search">
        <input class="form-control me-2" type="search" placeholder="Search" name="searchFilter"  aria-label="Search">
        <button class="btn btn-outline-dark" type="submit">Search</button>
    </form>
</div>